In [144]:
import pandas as pd

In [145]:
CSV_COLUMNS = [
    "age", "workclass", "fnlwgt", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "gender",
    "capital_gain", "capital_loss", "hours_per_week", "native_country",
    "income_bracket"
]
x_columns = [
    "age", "workclass", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "gender",
    "capital_gain", "capital_loss", "hours_per_week", "native_country"
]

In [156]:
train_df = pd.read_csv("data/adult/adult.data", names=CSV_COLUMNS, usecols=x_columns).iloc[1:, :]
train_df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States

In [157]:
def one_hot_encode(df, col):
    s = df[col]
    encoded = pd.get_dummies(s)
    df.drop(columns=[col], inplace=True)
    df[encoded.columns] = encoded

In [158]:
one_hot_encode(train_df, "workclass")
one_hot_encode(train_df, "marital_status")
one_hot_encode(train_df, "occupation")
one_hot_encode(train_df, "relationship")
one_hot_encode(train_df, "race")
one_hot_encode(train_df, "gender")
one_hot_encode(train_df, "native_country")
one_hot_encode(train_df, "education")
train_df.shape

(32560, 105)

In [159]:
train_df

,age,education_num,capital_gain,capital_loss,hours_per_week,?,Federal-gov,Local-gov,Never-worked,Private,...,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
5,37,14,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,12,0,0,38,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
32557,40,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32558,58,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32559,22,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32560,52,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [160]:
for adult in train_df.columns:
    train_df[adult] = train_df[adult].astype(int)
    print(adult)
    (train_df[adult] - train_df[adult].mean())/train_df[adult].std()

age
education_num
capital_gain
capital_loss
hours_per_week
 ?
 Federal-gov
 Local-gov
 Never-worked
 Private
 Self-emp-inc
 Self-emp-not-inc
 State-gov
 Without-pay
 Divorced
 Married-AF-spouse
 Married-civ-spouse
 Married-spouse-absent
 Never-married
 Separated
 Widowed
 Adm-clerical
 Armed-Forces
 Craft-repair
 Exec-managerial
 Farming-fishing
 Handlers-cleaners
 Machine-op-inspct
 Other-service
 Priv-house-serv
 Prof-specialty
 Protective-serv
 Sales
 Tech-support
 Transport-moving
 Husband
 Not-in-family
 Other-relative
 Own-child
 Unmarried
 Wife
 Amer-Indian-Eskimo
 Asian-Pac-Islander
 Black
 Other
 White
 Female
 Male
 Cambodia
 Canada
 China
 Columbia
 Cuba
 Dominican-Republic
 Ecuador
 El-Salvador
 England
 France
 Germany
 Greece
 Guatemala
 Haiti
 Holand-Netherlands
 Honduras
 Hong
 Hungary
 India
 Iran
 Ireland
 Italy
 Jamaica
 Japan
 Laos
 Mexico
 Nicaragua
 Outlying-US(Guam-USVI-etc)
 Peru
 Philippines
 Poland
 Portugal
 Puerto-Rico
 Scotland
 South
 Taiwan
 Thailand
 Trinadad&Tobago
 United-States
 Vietnam
 Yugoslavia
 10th
 11th
 12th
 1st-4th
 5th-6th
 7th-8th
 9th
 Assoc-acdm
 Assoc-voc
 Bachelors
 Doctorate
 HS-grad
 Masters
 Preschool
 Prof-school
 Some-college

In [161]:
train_df.iloc[0, :].to_numpy()

array([50, 13,  0,  0, 13,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,
        0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0])

In [162]:
out_df = pd.read_csv("data/adult/adult.data", names=CSV_COLUMNS, usecols=['income_bracket'])
out_df

      income_bracket
0              <=50K
1              <=50K
2              <=50K
3              <=50K
4              <=50K
...              ...
32556          <=50K
32557           >50K
32558          <=50K
32559          <=50K
32560           >50K

[32561 rows x 1 columns]

In [163]:
t = pd.get_dummies(out_df).iloc[:, 1].shape
t

(32561,)

In [164]:
train_df.shape

(32560, 105)

In [165]:
train_df

,age,education_num,capital_gain,capital_loss,hours_per_week,?,Federal-gov,Local-gov,Never-worked,Private,...,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
5,37,14,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,12,0,0,38,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
32557,40,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32558,58,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32559,22,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
32560,52,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0