In [126]:
import pandas as pd

In [127]:
CSV_COLUMNS = [
    "age", "workclass", "fnlwgt", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "gender",
    "capital_gain", "capital_loss", "hours_per_week", "native_country",
    "income_bracket"
]
x_columns = [
    "age", "workclass", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "gender",
    "capital_gain", "capital_loss", "hours_per_week", "native_country"
]

In [128]:
train_df = pd.read_csv("data/adult/adult.test", names=CSV_COLUMNS, usecols=x_columns).iloc[1:, :]
train_df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
1,25,Private,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States
2,38,Private,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States
3,28,Local-gov,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States
4,44,Private,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States
5,18,?,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States

In [129]:
def one_hot_encode(df, col):
    s = df[col]
    encoded = pd.get_dummies(s)
    df.drop(columns=[col], inplace=True)
    df[encoded.columns] = encoded

In [130]:
one_hot_encode(train_df, "workclass")
one_hot_encode(train_df, "marital_status")
one_hot_encode(train_df, "occupation")
one_hot_encode(train_df, "relationship")
one_hot_encode(train_df, "race")
one_hot_encode(train_df, "gender")
one_hot_encode(train_df, "native_country")
one_hot_encode(train_df, "education")
train_df.shape

(16281, 104)

In [131]:
train_df

,age,education_num,capital_gain,capital_loss,hours_per_week,?,Federal-gov,Local-gov,Never-worked,Private,...,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
1,25,7.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,38,9.0,0.0,0.0,50.0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,28,12.0,0.0,0.0,40.0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,44,10.0,7688.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5,18,10.0,0.0,0.0,30.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16277,39,13.0,0.0,0.0,36.0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
16278,64,9.0,0.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16279,38,13.0,0.0,0.0,50.0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
16280,44,13.0,5455.0,0.0,40.0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
16281,35,13.0,0.0,0.0,60.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [132]:
for adult in train_df.columns:
    train_df[adult] = train_df[adult].astype(int)
    print(adult)
    (train_df[adult] - train_df[adult].mean())/train_df[adult].std()

age
education_num
capital_gain
capital_loss
hours_per_week
 ?
 Federal-gov
 Local-gov
 Never-worked
 Private
 Self-emp-inc
 Self-emp-not-inc
 State-gov
 Without-pay
 Divorced
 Married-AF-spouse
 Married-civ-spouse
 Married-spouse-absent
 Never-married
 Separated
 Widowed
 Adm-clerical
 Armed-Forces
 Craft-repair
 Exec-managerial
 Farming-fishing
 Handlers-cleaners
 Machine-op-inspct
 Other-service
 Priv-house-serv
 Prof-specialty
 Protective-serv
 Sales
 Tech-support
 Transport-moving
 Husband
 Not-in-family
 Other-relative
 Own-child
 Unmarried
 Wife
 Amer-Indian-Eskimo
 Asian-Pac-Islander
 Black
 Other
 White
 Female
 Male
 Cambodia
 Canada
 China
 Columbia
 Cuba
 Dominican-Republic
 Ecuador
 El-Salvador
 England
 France
 Germany
 Greece
 Guatemala
 Haiti
 Honduras
 Hong
 Hungary
 India
 Iran
 Ireland
 Italy
 Jamaica
 Japan
 Laos
 Mexico
 Nicaragua
 Outlying-US(Guam-USVI-etc)
 Peru
 Philippines
 Poland
 Portugal
 Puerto-Rico
 Scotland
 South
 Taiwan
 Thailand
 Trinadad&Tobago
 United-States
 Vietnam
 Yugoslavia
 10th
 11th
 12th
 1st-4th
 5th-6th
 7th-8th
 9th
 Assoc-acdm
 Assoc-voc
 Bachelors
 Doctorate
 HS-grad
 Masters
 Preschool
 Prof-school
 Some-college

In [133]:
train_df.iloc[0, :].to_numpy()

array([25,  7,  0,  0, 40,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0])

In [137]:
train_df = pd.read_csv("data/adult/adult.data", names=CSV_COLUMNS, usecols=['income_bracket'])
train_df

      income_bracket
0              <=50K
1              <=50K
2              <=50K
3              <=50K
4              <=50K
...              ...
32556          <=50K
32557           >50K
32558          <=50K
32559          <=50K
32560           >50K

[32561 rows x 1 columns]

In [139]:
t = pd.get_dummies(train_df).iloc[:, 1]
t

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income_bracket_ >50K, Length: 32561, dtype: uint8

In [136]:
for i in train_df.columns:
    print(i)

income_bracket